<a href="https://colab.research.google.com/github/trista-paul/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [1]:
# TODO
import pandas as pd
attributes = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', header=None, names=attributes)
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [2]:
#doc (690, 16)
df.shape

(690, 16)

In [3]:
df.isnull().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [4]:
#doc: the cols with missing values are A1, A2, A4, A5, A6, A7, A14
df['A1'].value_counts() #'?'

b    468
a    210
?     12
Name: A1, dtype: int64

In [0]:
df['A2'].value_counts() #'?'

In [0]:
df['A4'].value_counts() #'?'

In [0]:
df['A5'].value_counts() #'?'

In [0]:
df['A6'].value_counts() #'?'

In [0]:
df['A7'].value_counts() #'?'

In [0]:
df['A14'].value_counts() #'?'

In [2]:
import numpy as np
df = df.replace({'?':np.nan})
df['A1'].value_counts()

b    468
a    210
Name: A1, dtype: int64

In [6]:
#doc: str, float, float, str, str, str, str, float
#str, str, float, str, str, float, float, str
df.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [3]:
df[['A2', 'A11', 'A14', 'A15']] = df[['A2', 'A11', 'A14', 'A15']].astype(float)
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14    A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t  1.0   f   g  202.0    0.0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t  6.0   f   g   43.0  560.0   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f  0.0   f   g  280.0  824.0   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t  5.0   t   g  100.0    3.0   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f  0.0   f   s  120.0    0.0   +

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [48]:
continuous = df[['A2', 'A3', 'A8', 'A11', 'A14', 'A15', 'A16']]
categorical = df[['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13', 'A16']]
continuous.head()

      A2     A3    A8  A11    A14    A15 A16
0  30.83  0.000  1.25  1.0  202.0    0.0   +
1  58.67  4.460  3.04  6.0   43.0  560.0   +
2  24.50  0.500  1.50  0.0  280.0  824.0   +
3  27.83  1.540  3.75  5.0  100.0    3.0   +
4  20.17  5.625  1.71  0.0  120.0    0.0   +

In [42]:
print(continuous.groupby('A16').median())
print(continuous.groupby('A16').mean())
#A15 appears to have extreme differences in median, mean
#A3 appears to be less extreme but still different

        A2    A3     A8  A11    A14    A15
A16
+    30.50  4.46  2.000  3.0  120.0  221.0
-    27.33  2.21  0.415  0.0  167.5    1.0
            A2        A3        A8       A11         A14          A15
A16
+    33.720492  5.904951  3.427899  4.605863  164.421927  2038.859935
-    29.808231  3.839948  1.257924  0.631854  199.699468   198.605744

In [0]:
#ttest_1samp on A15
A15 = continuous[['A15', 'A16']].dropna()
A15 = A15.set_index(A15.A16)
A15 = A15.replace({'+':1, '-':0})
A15 = A15['A15']
A15

In [41]:
scipy.stats.ttest_1samp(A15, 0.5)

Ttest_1sampResult(statistic=5.126846652016273, pvalue=3.8324079891902166e-07)

In [0]:
#ttest_1samp on A3
A3 = continuous[['A3', 'A16']].dropna()
A3 = A3.set_index(A3.A16)
A3 = A3['A3']
A3

In [36]:
scipy.stats.ttest_1samp(A3,0.5)
#bizarre...A3 is actually less balanced than A15

Ttest_1sampResult(statistic=22.47165047814236, pvalue=2.5723897481285845e-84)

In [49]:
categorical.head()

  A1 A4 A5 A6 A7 A9 A10 A12 A13 A16
0  b  u  g  w  v  t   t   f   g   +
1  a  u  g  q  h  t   t   f   g   +
2  a  u  g  q  h  t   f   f   g   +
3  b  u  g  w  v  t   t   t   g   +
4  b  u  g  w  v  t   f   f   s   +

In [61]:
A1 = pd.crosstab(categorical.A16, categorical.A1, margins=True)
A1 #it looks like there's about twice as many bs as as for A1

A1     a    b  All
A16
+     98  206  304
-    112  262  374
All  210  468  678

In [71]:
import scipy
from scipy import stats
chi2, p, dof, ex = scipy.stats.chi2_contingency(A1, correction=False)
chi2

0.41143508194591916

In [72]:
p #it's nearly 1

0.981530018361231

In [73]:
A4 = pd.crosstab(categorical.A16, categorical.A4, margins=True)
A4

A4   l    u    y  All
A16
+    2  256   45  303
-    0  263  118  381
All  2  519  163  684

In [74]:
A5 = pd.crosstab(categorical.A16, categorical.A5, margins=True)
A5 #this one looks promising

A5     g  gg    p  All
A16
+    256   2   45  303
-    263   0  118  381
All  519   2  163  684

In [75]:
chi2, p, dof, ex = scipy.stats.chi2_contingency(A1, correction=False)
chi2

0.41143508194591916

In [76]:
p

0.981530018361231

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
**My t-test for both A11 and A3 had a high positive t stat, so the values were heavily leaning to 1/+. With a P values under 0.01, it is safe to conclude there were differences between + and - groups of those sets. In both + would appear to have larger values and possibly more values overall.**
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
**A1 appeared to have twice as many b values as a values, but a significant difference between the two fell under scrutiny. The chi2 test statistic is slightly positive, but the p value is nearly 1! The same happened with A5's values.**
- What was the most challenging part of this sprint challenge? **Frantically rereading how to use the groupby function : p**

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*